<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Coinrated Tests</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" id="description" content="My awesome web app." />

    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="public/css/app.css" />

  </head>
  <body>

    <!-- main wrappers -->
    <div id="app">
      <div id="wrapper">

        <!-- ticker header -->
        <header class="top-header flex-row flex-middle flex-space push-top push-bottom">
          <h1>Crypto Ticker</h1>
          <div>
            <select @change="onQuoteChange">
              <option v-for="( q, uniq ) in quotes" :key="uniq" :value="uniq" :selected="uniq === quote">{{ q.prefix }} {{ q.symbol }}</option>
            </select>
          </div>
          <div>
            <select @change="onSortChange">
              <option v-for="s of sortdata" :key="s.column" :value="s.column" :selected="s.column === sort">{{ s.name }}</option>
            </select>
          </div>
          <div>
            <input type="text" placeholder="Search..." v-model="search" />
          </div>
        </header>

        <!-- ticker list -->
        <main class="ticker-list">

          <!-- ticker columns -->
          <div class="ticker-item flex-row flex-middle flex-stretch">
            <div class="push-right" style="width: 32px"></div>
            <div class="flex-1 push-right">Coin</div>
            <div class="flex-1 push-right text-right">Price</div>
            <div class="flex-1 push-right">Chart 7D</div>
            <div class="flex-1 push-right text-right">Change 24h</div>
            <div class="flex-1 push-right text-right">Volume 24h</div>
            <div class="flex-1 push-right text-right">Market Cap</div>
            <div class="flex-1 text-right">Supply</div>
          </div>

          <!-- ticker rows -->
          <div v-for="c of tickerList" class="ticker-item flex-row flex-middle flex-stretch" :class="c.style" :key="c.id">
            <div class="push-right">
              <img :src="c.image" width="32" height="32" :alt="c.name" />
            </div>
            <div class="flex-1 push-right">
              <span>{{ c.name }}</span> <br />
              <span v-if="c.symbol" class="text-faded">{{ c.symbol }}</span>
            </div>
            <div class="flex-1 push-right text-right">
              <span>{{ c.value }}</span>
            </div>
            <div class="flex-1 ">
              <img v-if="c.chart_url" :src="c.chart_url" :alt="c.name" />
            </div>
            <div class="flex-1 push-right text-right color">
              <span>{{ c.percent_change_24h | toFixed( 2 ) }}%</span>
            </div>
            <div class="flex-1 push-right text-right">
              <span>{{ c.volume_24h | toMoney( 0 ) }}</span>
            </div>
            <div class="flex-1 push-right text-right">
              <span>{{ c.market_cap | toMoney( 0 ) }}</span>
            </div>
            <div class="flex-1 text-right">
              <span>{{ c.circulating_supply | toMoney( 0 ) }}</span>
            </div>
          </div>

        </main>

      </div> <!-- wrapper -->
    </div> <!-- app -->


    <!-- app scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="public/js/coin.js"></script>
    <script src="public/js/app.js"></script>

  </body>
</html>
