<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Coinrated Tests</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" id="description" content="My awesome web app." />

    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="public/css/app.css" />

  </head>
  <body>

    <!-- main wrappers -->
    <div id="app">
      <div id="wrapper">

        <!-- ticker header -->
        <header class="top-header flex-row flex-middle flex-space push-top push-bottom">
          <h1>Crypto Ticker</h1>
          <div>
            <select @change="onQuoteChange">
              <option v-for="( q, uniq ) in quotes" :key="uniq" :value="uniq" :selected="uniq === quote">{{ q.prefix }} {{ q.symbol }}</option>
            </select>
          </div>
          <div>
            <select @change="onSortChange">
              <option v-for="s of sortdata" :key="s.column" :value="s.column" :selected="s.column === sort">{{ s.name }}</option>
            </select>
          </div>
          <div>
            <input type="text" placeholder="Search..." v-model="search" />
          </div>
        </header>

        <!-- ticker list -->
        <main class="ticker-list push-bottom">

          <!-- ticker columns -->
          <div class="ticker-item flex-row flex-middle flex-stretch">
            <div class="ticker-item-icon push-right"></div>
            <div class="ticker-item-flex push-right clickable" @click="sortBy( 'name', 'asc' )">Coin</div>
            <div class="ticker-item-fixed text-right push-right clickable" @click="sortBy( 'price', 'desc' )">Price</div>
            <div class="ticker-item-chart push-right">Live Chart</div>
            <div class="ticker-item-fixed text-right push-right clickable" @click="sortBy( 'volume_24h', 'desc' )">Volume 24h</div>
            <div class="ticker-item-fixed text-right push-right clickable" @click="sortBy( 'market_cap', 'desc' )">Market Cap</div>
            <div class="ticker-item-fixed text-right push-right clickable" @click="sortBy( 'circulating_supply', 'desc' )">Supply</div>
            <div class="ticker-item-change text-right push-right clickable" @click="sortBy( 'percent_change_1h', 'desc' )">Change 1H</div>
            <div class="ticker-item-change text-right push-right clickable" @click="sortBy( 'percent_change_24h', 'desc' )">Change 24H</div>
            <div class="ticker-item-chart">7D Chart</div>
          </div>

          <!-- ticker rows -->
          <div v-for="c of tickerList" class="ticker-item flex-row flex-middle flex-stretch" :key="c.id">

            <div class="ticker-item-icon push-right">
              <img v-if="c.image" :src="c.image" width="32" height="32" :alt="c.name" />
            </div>

            <div class="ticker-item-flex push-right">
              <span>{{ c.name }}</span> <br />
              <span class="text-faded">{{ c.symbol || '...' }}</span>
            </div>

            <div class="ticker-item-fixed text-right push-right">
              <span>{{ c.value }}</span>
            </div>

            <div class="ticker-item-chart push-right">
              <linechart :width="120" :height="30" :values="c.graph_data"></linechart>
            </div>

            <div class="ticker-item-fixed text-right push-right">
              <span>{{ c.volume_24h | toMoney( 0 ) }}</span>
            </div>

            <div class="ticker-item-fixed text-right push-right">
              <span>{{ c.market_cap | toMoney( 0 ) }}</span>
            </div>

            <div class="ticker-item-fixed text-right push-right">
              <span>{{ c.circulating_supply | toMoney( 0 ) }}</span>
            </div>

            <div class="ticker-item-change text-right push-right">
              <span :class="c.percent_change_1h_style">{{ c.percent_change_1h | toFixed( 2 ) }}%</span>
            </div>

            <div class="ticker-item-change text-right push-right">
              <span :class="c.percent_change_24h_style">{{ c.percent_change_24h | toFixed( 2 ) }}%</span>
            </div>

            <div class="ticker-item-chart">
              <img v-if="c.graph_7d_url" :src="c.graph_7d_url" :alt="c.name" />
            </div>

          </div>

        </main>

        <!-- pagination buttons -->
        <div class="pagination">
          <button class="push-right" :class="{ 'active': p.active }" v-for="p of pagesList" :key="p.page" @click="goPage( p.page )">
            <span>{{ p.page }}</span>
          </button>
        </div>

      </div> <!-- wrapper -->
    </div> <!-- app -->


    <!-- app scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="public/js/coin.js"></script>
    <script src="public/js/app.js"></script>

  </body>
</html>
